@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "PTSans1";
  src: url("https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0-ExdGM.woff2") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebasNeue";
  src: url("https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

.container{
  max-width: 1200px;
}

