.header {
    background-color: #1D1D1D;
    color: white;
    padding: 0 5em;
    overflow: hidden;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logotype-img img {
    width: 80px;
    height: auto;
}

.header__logotype-img img:hover{
    cursor: pointer;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header__buttons a {
    cursor: pointer;
    margin: 0 20px;
    font-size: 20px;
    color: white;
}

.header__buttons a:hover{
    color: red;
}

.header__phone {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__phone a {
    font-size: 19px;
    font-weight: 400; 
    color: white;
    text-decoration: none; 
    position: relative;
}

.header__phone-link a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: white;
    transition: width 0.6s ease-out; 
}

.header__phone-link a:hover::before {
    width: 100%; 
}

.header__phone a:hover{
    width: 100%; 
}
.header__social-networks img{
    width: 20px;
    height: auto;
    margin: 5px;
    transition: transform 0.3s ease;
}

.header__social-networks img:hover{
    transform: scale(1.2);
}

@media (max-width: 1200px) {
    .header {
        padding: 0 3em;
    }
    .header__logotype-img img {
        width: 65px;
    }
    .header__buttons a {
        margin: 0 14px;
        font-size: 15px;
    }
    .header__phone a {
        font-size: 16px;
        font-weight: 370; 
    }
    .header__social-networks img{
        width: 18px;
        margin: 4px;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 0 2em;
    }
    .header__logotype-img img {
        width: 55px;
    }
    .header__buttons a {
        margin: 0 11px;
        font-size: 12px;
    }
    .header__phone a {
        font-size: 13px;
        font-weight: 340; 
    }
    .header__social-networks img{
        width: 15px;
        margin: 3px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 0 1em;
    }
    .header__logotype-img img {
        width: 40px;
    }
    .header__buttons a {
        margin: 0 9px;
        font-size: 11px;
    }
    .header__phone a {
        font-size: 9px;
        font-weight: 300;
    }
    .header__social-networks img{
        width: 13px;
        margin: 3px;
    }
}
@media (max-width: 570px){
    .header {
        padding: 0 0.5em;
    }
    .header__logotype-img img {
        width: 30px;
    }
    .header__buttons a {
        margin: 0 6px;
        font-size: 8px;
    }
    .header__phone a {
        font-size: 6px;
        font-weight: 200;
    }
    .header__social-networks img{
        width: 10px;
        margin: 2px;
    }
    .header__phone-numbers,
    .header__phone-numbers2,
    .header__phone-link{
        margin: 1px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 400px){
    .header {
        padding: 0 0.5em;
    }
    .header__logotype-img img {
        width: 20px;
    }
    .header__buttons a {
        margin: 0 6px;
        font-size: 5px;
    }
    .header__phone a {
        font-size: 3.5px;
        font-weight: 100;
    }
    .header__social-networks img{
        width: 6px;
        margin: 1px;
    }
    .header__phone-numbers,
    .header__phone-numbers2,
    .header__phone-link{
        margin: 1px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}




